/* style.css
 * This file provides css styles.
 */

body,
html {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Varela Round", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #119289;
    -webkit-font-smoothing: antialiased;
}

.main {
    background-color: #ffffff;
}

.banner {
    background-color: #A5C8CF; //#ebf6f8;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    /*    border-bottom: 1px solid #DFE3E6;*/
}

.bannerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    width: 800px; // 960px;
    max-width: 1024px;
}

.bar {}

.brand {
    color: #333;
    font-size: 18px;
    letter-spacing: 0.3px;
    word-spacing: 1.5px;
    /*    font-weight: 600;*/
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin: 14px;
    height: 38px
}

.search {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 125px;
    width: 150px;
}

.links {
    width: 300px;
    display: flex;
    color: #333333;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    font-size: 14px;
    justify-content: flex-end;
}

.link {
    margin: 14px;
    margin-right: 0;
}

.welcome {
    font-size: 12px;
    /* margin-top: 26px; */
    /* background: #f5e5c8; */
    /* padding: 10px; */
    /* padding-top: 25px; */
    /* padding-bottom: 10px; */
    border-radius: 4px;
    color: #464646;
    line-height: 24px;
    /* text-align: center; */
    /* border: 1px solid #ddd; */
}

.layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 226px;
    height: 400px;
    border-radius: 4px;
    background: white;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #dddddd;
}

.title {
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #454545;
    font-size: 13px;
    font-weight: 600;
}

.description {
    height: 100px;
    width: 90%;
    border-top: 1px solid #ddd;
    /* background: #ebf6f8; */
    padding: 10px;
    color: #454545;
    font-size: 11px;
    margin: 10px;
    letter-spacing: 1px;
    line-height: 16px;
}

a {
    text-decoration: none;
    color: #119289;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #c8e7e0;
    padding-bottom: 1px;
    font-weight: bold;
}

.learn {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background: #e7f5f4;
}

.visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.divide {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


/* - - - - - - - - - - */

.concepts {
    width: 510px;
    margin-right: 40px;
}


/* - - - - - - - - - - */

.conversation {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.conversation-title {
    display: flex;
    color: #333;
    flex-direction: row;
    font-size: 14px;
    justify-content: flex-end;
}

.conversation-flow {
    display: flex;
    border: 1px solid #888;
    height: 400px;
    width: 250px;
    border-radius: 4px;
    margin-top: 20px;
}

.conversation-input {
    display: flex;
    border: 1px solid #888;
    height: 70px;
    width: 250px;
    border-radius: 4px;
    margin-top: 20px;
}